*{
border:none;
margin:none;
}
body{
background-color:#555}

.container{
padding-top:100px;
padding-left:75px;
background-color:grey;}

h1{
font-style:times;
color:white;
}
.det{

padding-top:20px;
justify-content:space-between;
}
h4{
color:white;}
form{
border:40px;}
.btn{
padding-top:50px;}
.submit{
background-color:green;
color:white;}





